@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.logo span{
    color: #289BDE;
}

.carousel-item{
    height: 700px;
}

.carousel-item:nth-of-type(1){
    background-image: linear-gradient(#00000070, #00000070), url(../images/slide-1.png);
}
.carousel-item:nth-of-type(2){
    background-image: linear-gradient(#00000070, #00000070), url(../images/slide-2.png);
}
.carousel-item:nth-of-type(3){
    background-image: linear-gradient(#00000070, #00000070), url(../images/slide-3.png);
}