@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.logo span{
    color: #289BDE;
}

.carousel-item .carousel-img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#00000070;
    top: 0;
    left: 0;
}

@media ( max-width: 768px) {
    .carousel-caption{
        width: 100% !important;
        padding: 0px !important;
        height: fit-content;
    }
    .carousel-item .carousel-text h1{
        font-size: 1.8rem !important;
        line-height: 2rem !important;
    }
    .carousel-item .carousel-text p{
        font-size: 12px !important;
    }
}

.courses-item .course-thumbnail{
    width: 190px;
}

@media (max-width:768px) {
    .courses-item .course-thumbnail{
        width: 100%;
    }
}

.courses-item .course-text{
    flex: 1;
}

.footer-social a{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #353a42;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
}